---
import data from "../data.json";
import BaseHead from "../components/BaseHead.astro";
const title = "REST Countries";
---

<html lang="en">
  <head>
    <BaseHead {title} />
  </head>
  <body>
    <h1>{title}</h1>
    {
      data.map((country) => {
        return <p>{country}</p>;
      })
    }
  </body>
</html>
