---
import data from "../data.json";

import CountryItem from "../components/CountryItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Where in the world?";
---

<BaseLayout {title}>
  <header class="filters-wrapper">
    <input
      type="search"
      placeholder="Search for a country..."
      name="search-input"
      class="search-input"
      required
    />
    <select name="search-filter" class="search-filter">
      <option value="" selected disabled>Filter by region</option>
      <option value="africa">Africa</option>
      <option value="america">America</option>
      <option value="asia">Asia</option>
      <option value="europe">Europe</option>
      <option value="oceania">Oceania</option>
    </select>
  </header>

  <ul class="country-list">
    {data.map((country) => <CountryItem country={country} />)}
  </ul>
</BaseLayout>

<style>
  .filters-wrapper {
    display: flex;
    justify-content: space-between;
    margin-block-end: 2rem;
  }

  .filters-wrapper > * {
    border-radius: 0.5rem;
    background: var(--element);
    padding: 1rem 2rem;
    box-shadow:
      0 1px 5px var(--shadow),
      2px 4px 8px var(--shadow);
  }

  .country-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
    gap: 3rem;
  }
</style>
