---
import data from "../data.json";

import CountryItem from "../components/CountryItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { normalize } from "../scripts/utils";
const title = "Where in the world?";

const { url } = Astro.request;
const requestURL = new URL(url);
const params = new URLSearchParams(requestURL.search);
const query = params.get("query");
const searchFilter = params.get("search-filter");

let countries = data;

if (query) {
  countries = countries.filter((country) =>
    normalize(country.name).includes(query.toLowerCase()),
  );
}

if (searchFilter) {
  countries = countries.filter(
    (country) => country.region.toLowerCase() === searchFilter,
  );
}
---

<BaseLayout {title}>
  <header class="filters-wrapper">
    <form class="filters-form">
      <search>
        <button title="Click to search for a country">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input
          type="search"
          placeholder="Search for a country..."
          name="query"
          class="search-input"
        />
      </search>
      <select name="search-filter" class="search-filter">
        <option value="" selected disabled>Filter by region</option>
        <option value="africa">Africa</option>
        <option value="america">America</option>
        <option value="asia">Asia</option>
        <option value="europe">Europe</option>
        <option value="oceania">Oceania</option>
      </select>
    </form>
  </header>

  <ul class="country-list">
    {
      countries.length ? (
        countries.map((country) => <CountryItem country={country} />)
      ) : (
        <li>Sorry, we cannot find a country named "{query}".</li>
      )
    }
  </ul>
</BaseLayout>

<style>
  .filters-form {
    display: flex;
    justify-content: space-between;
    margin-block-end: 2rem;
  }

  .filters-form > * {
    border-radius: 0.5rem;
    background: var(--element);
    box-shadow:
      0 1px 5px var(--shadow),
      2px 4px 8px var(--shadow);
  }

  .filters-form search {
    padding: 1rem 1rem 1rem 0.5rem;
  }

  .filters-form search > * {
    padding: 0.25rem 0.5rem;
  }

  .search-filter {
    padding: 1rem 2rem;
  }

  .country-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
    gap: 3rem;
  }
</style>
