---
import TopHeader from "../components/TopHeader.astro";
import BaseHead from "../components/BaseHead.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} />
  </head>

  <body>
    <TopHeader />
    <main>
      <slot />
    </main>
  </body><style>
    main {
      padding: 2rem;
      max-width: 200ch;
      margin-inline: auto;
    }
  </style>
</html>
